@import "variables";
@import "components/widgets/spinner";
@import "components/pages/project-list";

body {
  font-family: 'Roboto', sans-serif;
  background: $bg-color;
}

#page-container {
  background: $bg-color;
  float: left;
  min-height: 100%;
  padding-bottom: 100px;
  width: 100%;
  box-sizing: border-box;
  color: #212121;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  line-height: 24px;
  -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1479px) {
  #page-container {
    padding-left: 0;
  }
}

@media screen and (max-width: $md-width) {
  #page-container {
    padding-bottom: 0;
  }
}

#page-container #page-inner-container {
  margin: auto;
  width: 1160px;
  *zoom: 1;
  padding-top: 40px;
  font-family: "RobotoDraft", "Roboto", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#page-container #page-inner-container:before {
  content: " ";
  display: table;
}

#page-container #page-inner-container:after {
  clear: both;
  content: " ";
  display: table;
}

#page-container #page-inner-container > p {
  width: 760px;
}

@media screen and (max-width: $md-width) {
  #page-container #page-inner-container > p {
    width: auto;
  }
}

@media screen and (max-width: 1240px) {
  #page-container #page-inner-container {
    width: 760px;
  }
}

@media screen and (max-width: $md-width) {
  #page-container #page-inner-container {
    padding-right: 32px;
    padding-left: 32px;
    width: auto;
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  #page-container #page-inner-container {
    padding-top: 40px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
